<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/notfound.css">
    <title>Document</title>
</head>
    <body>
        <p>ごめんね</p>
            <div class="photo">
                <a href=""><img src="../static/img/giraffe.png" alt="" class="kirin"></a>
            </div>
    
        <p>ここでは</p>
            <div class="photo">
                <a href=""><img src="../static/img/animal_smile_usagi.png" alt="" class="usagi"></a>
            </div>
    
        <p>君のきもちは</p>
            <div class="photo">
                <a href=""><img src="../static/img/animal_stand_penguin.png" alt="" class="penguin"></a>
            </div>
    
        <p>他のお友達に</p>
            <div class="photo">
                <a href=""><img src="../static/img/shoes_06.png" alt="" class="shoes"></a>
            </div>
    
        <p>届かないよ</p>
            <div class="photo">
                <a href=""><img src="../static/img/tree_animals_group.png" alt="" class="tree"></a>
            </div>
            
    </body>
    <footer>
        <ul class="footer-item">
            <button class="footer-item2" onclick="location.href='/'">← トップへ戻る</button>
        </ul>
    </footer>
</html>
