<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="江別市認定こども園">
   <meta name="description" content="江別市認定こども園選びに迷ったら・・の口コミサイト! ぜひ参考に！">
    <link rel="stylesheet" href="../static/css/style1.css">
    <link rel="stylesheet" href="../static/css/bbs.css">
    <title>江別市の認定こども園選びの参考に！</title>
</head>
<body>
<header>
<li class="flex-item1">失敗しない！江別市認定こども園 No.1 口コミサイト</li>
<li class="flex-item3"><a href=""><img src="../static/img/tree_animals_group.png" width="90px"  alt=""></a></li>
</header>
<div class="head-box">
 <h1>江別市 認定こども園 人気ランキング <br>[{{facility_name}}]</h1>

</div>
<!-- <div class="container">
  <div class="wrap">
   <div class="review-box"> -->
<div class="container">
  <div class="wrap">
    {% block content %}


    {% endblock %}
  </div>

  <div class="kirin-box">
  <img src="../static/img/giraffe.png" alt="" class="kirin">
   </div>
</div>
  <footer>
   <ul class="footer-item">
      <a class="footer-item1" herf=""><img src="../static/img/shoes_06.png" alt="" class="panda"></a>
      <button class="footer-item2" onclick="location.href='/'">topへ戻る</button>
   </ul>
   <!-- <div class="panda"> -->
   <!-- <img src="../static/img/shoes_06.png" width="140px" height="90px" alt=""> -->
<!-- </div> -->

  </footer>
</body>
</html>
