<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="江別市認定こども園">
  <meta name="description" content="江別市認定こども園選びに迷ったら・・の口コミサイト! ぜひ参考に！">
  <link rel="stylesheet" href="../static/css/style1.css">
    <title>江別市の認定こども園選びの参考に！</title>
</head>
<body>
<header>
<li class="flex-item1">失敗しない！江別市認定こども園 No.1 口コミサイト</li>
<li class="flex-item3"><a href=""><img src="../static/img/tree_animals_group.png" width="90px"  alt=""></a></li>
</header>
<div class="head-box">
 <h1>おおあさ認定こども園 口コミ一覧</h1>
 <p>認定こども園とは、保育園と幼稚園の要素を併せ持つ未就学児向け保育・教育施設です。</p>
</div>
<div class="container">
  <div class="wrap">
    {% block content %} 

    {% endblock %} 
  </div>
  <div class="kirin-box">
  <img src="../static/img/giraffe.png" alt="" class="kirin"> 
  </div>
</div>
  <footer></footer>
</body>
</html>



